<ion-header [translucent]="true">
  <ion-toolbar color="p">
    <ion-title color="light"> component </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>1.Action Sheets </ion-label>
    <ion-button id="open-action-sheet">Open</ion-button>
    <ion-action-sheet
      trigger="open-action-sheet"
      header="Actions"
      [buttons]="actionSheetButtons"
    ></ion-action-sheet>
  </ion-item>
  <ion-item>
    <ion-label>2.Alerts Button </ion-label>
    <ion-button id="present-alert">Click Me</ion-button>
    <ion-alert trigger="present-alert" header="บันทึกแล้ว" [buttons]="alertButtons">
    </ion-alert>
  </ion-item>

  <ion-item>
    <ion-label>
      3.Alert Input
    </ion-label>
    <ion-button id="present-alert 1">Click Me</ion-button>
<ion-alert
  trigger="present-alert 1"
  header="ข้อมูลสินค้า"
  [buttons]="alertButtons1"
  [inputs]="alertInputs"
></ion-alert>
  </ion-item>

  <ion-item>
    <ion-label>
      4.badge
    </ion-label>

        <ion-badge badge>ไม่ผ่าน</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label>
          5.checkbox
        </ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
</ion-content>
